# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Copyright (c) zhangchi. All rights reserved.
# https://github.com/cg0101/startup-libary/blob/master/LICENSE
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.husky/-
coverage/
dist/
node_modules/
lerna-debug.log*
npm-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
yarn-debug.log*
yarn-error.log*
package-lock.json